#json-editor {
    background: #1E1E1E;
    padding: 32px 32px;
    width: 400px;
    height: 500px;
    display: grid;
    grid-template-rows: 25px 40px 1fr;
}
#json-editor .json-editor__header {
    color:#fff;
    font-weight: 700;
    font-size: 16px;
    user-select: none;
}
#json-editor .json-editor__json-editor-tree {
    width: 100%;
    overflow: scroll;
}

#json-editor .json-editor__json-editor-tree table{
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}
.json-editor__line-num {
    user-select: none;
    color:#595e63;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    background: #1E1E1E;
    min-width: 10px;
    width: 10px;
}
.json-editor__row {
    height: 20px;
}
.json-editor__first-type-title-arrow {
    user-select: none;
    color:#595e63;
    width: 17px;
    min-width: 17px;
    transform: rotate(-90deg);
    max-width: 17px;
    font-size: 11px;
    text-align: center;
}
.json-editor__first-type-title {
    color: #595e63;
    user-select: none;
    font-size: 14px;
    font-weight: 700;
}
.json-editor__dropdown-arrow {
    user-select: none;
    padding: 0 10px;
    min-width: 10px;
    max-width: 10px;
    width: 10px;
    transition: transform 0.2s ease-in-out;
}
.json-editor__dropdown-arrow button:disabled {
    cursor: default;
}
.json-editor__dropdown-arrow button {
    user-select: none;
    font-size: 10px;
    color:#595e63;
    width: 20px;
    padding: 0;
    height: 20px;
    cursor: pointer;
    background: none;
    border:none;
    transition: transform 0.2s ease-in-out;
}
.json-editor__dropdown-arrow--expanded button {
    transform: rotate(-90deg);
}

.json-editor__depth {
    min-width: 20px;
    min-height: 20px;;
}
#json-editor .json-editor__json-editor-value tr {
    float: left;
    padding-bottom: 2px;
}
.collapsed {
    display: none;
}
.json-editor__field-key, .json-editor__field-value {
    outline: none;
    background: none;
    border: none;
}

.json-editor__separator {
    color: #fff;
    padding: 0 2px;
}


.json-editor__field-params-count {
    color: #fff;
    font-size: 14px;
    padding: 0 2px;
}
.json-editor__field-params-count-separator {
    color: #fff;
    font-size: 14px;
}

#json-editor .json-editor__json-editor-tree *::selection {
    background: #264F78;
}
#json-editor .json-editor__json-editor-tree::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
#json-editor .json-editor__json-editor-tree::-webkit-scrollbar-corner {
    background-color: #1E1E1E
}
#json-editor .json-editor__json-editor-tree::-webkit-scrollbar-thumb {
    background-color: #393c41;
    border-radius: 10px;
}

tr.json-editor-tree__row--type-number:hover {
    background: #94cea88f;
}
tr.json-editor-tree__row--type-string:hover {
    background: #ce907880;
}
tr.json-editor-tree__row--type-boolean:hover {
    background: #569cd683;
}

.json-editor__json-editor-tree input {
    color:#9CDCFE;
}
.json-editor__json-editor-tree input.json-editor__field-key--array {
    color: #535257;
}

input.json-editor__field-value.json-editor-tree__row--type-number {
    color: #94cea8;
}
input.json-editor__field-value.json-editor-tree__row--type-number:hover {
    background: #71997e;
}
input.json-editor__field-value.json-editor-tree__row--type-string {
    color: #ce9078;
}
input.json-editor__field-value.json-editor-tree__row--type-string:hover {
    background: #5e4639;
}
input.json-editor__field-value.json-editor-tree__row--type-boolean {
    color: #569cd6;
}
input.json-editor__field-value.json-editor-tree__row--type-boolean:hover {
    background: #416f95;
}
